<%- include('partials/header') %>
    <div class="profilecontainer">
        <div class="title">Student Profile</div>
        <div class="user-details">

            <div class="detail">
                <span class="details">Full Name: </span>
                <span class="showdetail">
                    <%=student.name%>
                </span>
            </div>

            <div class="detail">
                <span class="details">Roll Number: </span>
                <span class="showdetail">
                    <%=student.rollno%>
                </span>
            </div>
        </div>
    </div>
    </div>
    <div class="coursesformark">
        <h5 style="margin-left: 15px;">
            <%=status%> Courses
        </h5>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course ID</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Mark</th>
                </tr>
            </thead>
            <tbody class="list">

                <% for(var i=0;i<listcourse.length;i++) { %>
                    <tr>
                        <th scope="row">
                            <%= i+1%>
                        </th>
                        <td>
                            <%=listcourse[i].course.coursename %>
                        </td>
                        <td>
                            <%= listcourse[i].course.courseid %>
                        </td>
                        <td>
                            <%= listcourse[i].semester.semestername %>
                        </td>
                        <td>
                            <%= listcourse[i].mark %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer') %>